<!-- /app/components/xav-nav.html -->

<nav class="navbar navbar-expand navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Xavier</a>
                </div>
            </div>
            <div class="col-xs-offset-6 col-xs-4">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <a class="nav-link" ui-sref="signin" >Sign In</a>
                    <a class="nav-link" ui-sref="signup" >Sign Up</a>
                </ul>
            </div>
        </div>
    </div>
</nav>
