<!-- /app/templates/start-page.html -->

<section id="start-page">
    <h1 class="center-text">{{ startPageCtrl.pageTitle }}</h1>
    <br>
    <p class="center-text">
        The future of private jet liability insurance rate quote is coming!
    </p>
    <p class="center-text">
        Keep watching this space for more updates!
    </p>

    <ul class="current-news">
        <li>
            <div class="news-item">
                <div class="news-title">{{ startPageCtrl.thisDate | date:'MMM dd, yyyy' }}</div>
                <div class="news-body">
                    <p>Coming soon!</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices metus nulla, a pharetra quam venenatis non. Suspendisse leo odio, dapibus eu massa ut, dictum feugiat libero. Mauris nec elit blandit justo volutpat gravida. Nulla vulputate, augue vel porttitor varius, tortor nulla fringilla velit, a commodo metus sapien eget ligula. Aliquam dignissim congue augue ut mollis. Nulla in finibus mi, dapibus ultricies nulla. Donec eget ligula ac tortor vehicula commodo.
                    </p>
                    <p>
                        Mauris suscipit egestas nunc, at volutpat metus volutpat nec. Donec mauris nisl, malesuada vitae elementum id, elementum eu diam. Etiam rhoncus felis libero, eu ultrices justo mattis et. Sed quis tempor arcu. Pellentesque hendrerit convallis nisi, vel tristique enim pharetra eu. Nullam hendrerit lorem nibh, vehicula gravida ex dictum ut. Vestibulum elit tortor, tincidunt sit amet gravida eu, convallis fringilla leo. Sed cursus ante mi, sit amet sollicitudin ipsum bibendum eget. Fusce nibh dui, imperdiet eget lacus ut, dictum scelerisque purus. Nunc porttitor a urna interdum congue. Pellentesque a facilisis augue. Cras consectetur, velit at facilisis tempus, elit tortor posuere sem, consectetur egestas augue tortor eget ligula. Morbi hendrerit quam nisl, in sollicitudin sapien feugiat nec. Quisque eu nisi et dolor semper lobortis. Sed elementum felis quis blandit dapibus. Cras eu mattis eros.
                    </p>
                </div>
            </div>
        </li>
    </ul>
</section>